# Cache
.npm
.eslintcache

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.code-workspace

# Logs
logs
*.log
npm-debug.log*

# Misc
.cache/
.DS_Store
